* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 120px 0px;
  background-image: url(background.PNG);
  background-size: cover;
  color:yellow;
  text-align:center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 3px;
}

.top-wrapper h2 {
  padding: 0px 10px;
}

header {
  height: 65px;
  width: 100%;
  background-color:yellow;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;
}

.header-left {
  float: left;
  margin-top: -20px;
  
}

.header-right {
  float: right;
  margin-right: -15px;
  font-size: 20px;
  font-weight: 900;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: blue;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(31, 16, 243, 0.7);
}

.catch-wrapper {
  height: 1500px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #c8dcf853;
  text-align: center;
}

.heading {
  padding: 50px 0px;
  color:blue;
}

.heading h1 {
  font-weight: 900px;
}

.catch {
  float: left;
  width: 25%;
}

.clear_box{/*2行目の回り込みの解除*/
clear: both;
}

.fish {
  position: relative;
  margin: 5px;
}

.fish p {
  width: 100%;
  color:blue;
  font-weight: 600;
}

.text-contents {
  width: 90%;
  display: inline-block;
  margin-top: 10px;
  font-size: 15px;
  color: #0000008e;
}

.ad-wrapper {
  height: 600px;
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f3fb100f;
  text-align: center
}

.ads {
  float: left;
  width: 25%;
}

.ad {
  position: relative;
  margin: 5px;
}


.ad a {
  width: 100%;
  float: left;
  color:blue;
  font-weight: 600;
  padding:10px 0px;
}


footer {
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
  background-color: yellow;
  text-align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
